{% extends "base.html" %}

{% block content %}

<div class="topbar">

    <h1>
        📝 Exam Tracker
    </h1>

    <a href="/dashboard" class="nav-btn">
        Dashboard
    </a>

</div>

<div class="card exam-card">

    <h2>
        Enter Marks
    </h2>

    <form method="POST">

        {% for subject in subjects %}

        <input
            type="number"
            name="{{subject}}"
            placeholder="{{subject}} Marks"
        >

        {% endfor %}

        <button type="submit">
            Calculate
        </button>

    </form>

    {% if result %}

    <div class="result-box">

        <h3>
            📊 Average: {{result.avg}}
        </h3>

        <h3>
            ⚠ Weakest Subject: {{result.weakest}}
        </h3>

    </div>

    {% endif %}

</div>

{% endblock %}