{% extends "base.html" %}
{% block content %}

<h2>⚽ Sports Dashboard</h2>

<div class="card">
    <h3>Weekly Sports Plan</h3>

    <ul>
        <li>Monday → Football</li>
        <li>Wednesday → Football + Cycling</li>
        <li>Friday → Football + Jogging</li>
        <li>Daily → Walking / Running</li>
    </ul>
</div>

<div class="card">

    <h3>Add Sports Task</h3>

    <form method="POST" action="/add">

        <input name="task" placeholder="Sports task" required>

        <select name="subject">
            <option>Sports</option>
        </select>

        <input type="datetime-local" name="due" required>

        <button>Add Task</button>

    </form>

</div>

{% endblock %}