{% extends "base.html" %}

{% block content %}

<div class="topbar">

    <h1>
        📚 {{subject}}
    </h1>

    <a href="/dashboard" class="nav-btn">
        Dashboard
    </a>

</div>

<div class="tasks-section">

    {% if tasks %}

        {% for task in tasks %}

        <div class="task-card">

            <div>

                <h3>
                    {{task[2]}}
                </h3>

                <p>
                    ⏰ {{task[4]}}
                </p>

            </div>

            <a
                href="/done/{{task[0]}}"
                class="done-btn"
            >
                ✅ Done
            </a>

        </div>

        {% endfor %}

    {% else %}

        <div class="card">

            <p>
                No tasks added yet 🚀
            </p>

        </div>

    {% endif %}

</div>

{% endblock %}